@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px !important;
    }
}
{
    height: 110px;
    background-color: black;
    color: white;
    text-decoration: none;

}

.footer a {
    color: white;
    font-size: 1.1em;
}